.btn-group button {
    background-color: #4CAF50; 
    border: 1px solid green; 
    color: white;  
    cursor: pointer;
    float: left;
    width:6%;
}
.btn-group .mybtn {
    color: black;
    background-color: white;
 } 
  
  .btn-group button:hover {
    background-color: #255227;
    width: 70px;
  }
 .beer {
   width: 50px;
 }
 
 th {
   font-size: 20px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 
 td {
   font-size: medium;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .bordered {
    border:1px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .name {
    font-size: large;
  }
  .textStyle {
    font-size: large;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
  }
  .textStyleHead {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
  }
  .imageStyle {
    margin-left: 20px;
    width: 50px;

  }