.btn-group button {
    background-color: #4CAF50; 
    border: 1px solid green; 
    color: white;  
    cursor: pointer;
    float: left;
    width:6%;
}
.btn-group .mybtn {
    color: black;
    background-color: white;
 } 
  
  .btn-group button:hover {
    background-color: #255227;
  }
 .beer {
   width: 50px;
 }
 
 th {
   font-size: 20px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 
 td {
   font-size: medium;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  